h1{

    color: blue;
}

h2{
    color: aqua;
}

body{
     
    background-color:rgb(200, 10, 255);
}

h3{

    color: blueviolet;
    
}
h4{
    color: red;
}
h5{
    color: cadetblue;
}
h6{
    color: aquamarine;
}